:root {
  --background-colour: #f5ebeb;
  --buttons-colour: white;
  --font-colour: #2b3035;
  --border-colour: #ddd;
  --content-background: white;
  --button-hover: #c8d9eb;
}

body {
  background-color: var(--background-colour);
}

.inputBox {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  padding: 10px 60px;
  color: #333;
  margin: 6px 0px 10px;
  text-align: center;
}

.searchInputResult {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

#search-button {
  background: white;

  color: var(--font-colour);
  border: 1px solid var(--border-colour);
}

#search-button:hover {
  background-color: var(--button-hover);
}

.navbar {
  max-width: 100%;
}

.display-area {
  font-size: 25px;
  background-color: var(--content-background);
  padding-bottom: 600px;
  border-radius: 12px;
  text-align: center;
}

.show {
  display: block;
}
