body {
  background-color: #f5ebeb;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: decimal-leading-zero;
  background-color: white;
  border-radius: 5px;
  padding: 50px;
}

#search-history-btns {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
