:root {
  --background-colour: #f5ebeb;
  --buttons-colour: white;
  --font-colour: #2b3035;
  --border-colour: #ddd;
  --content-background: white;
  --button-hover: #c8d9eb;
}

body {
  background-color: #f5ebeb;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--content-background);
  border-radius: 5px;
  border: 1px solid var(--border-colour);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: decimal-leading-zero;
  background-color: var(--content-background);
  border-radius: 5px;
  padding: 50px;
  margin: 40px;
}

#search-history-btns {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

#homeButton,
#clear {
  font-size: 20px;
  padding: 10px;
  background: var(--buttons-colour);
  color: var(--font-colour);
  border: 1px solid var(--border-colour);
  border-radius: 5px;
  margin-bottom: 40px;
}

#homeButton:hover,
#clear:hover {
  background-color: var(--button-hover);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  ul {
    font-size: 22px;
  }
}
