body {
  background-color: #f5ebeb;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: decimal-leading-zero;
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  margin: 40px;
}

#search-history-btns {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

#homeButton,
#clear {
  font-size: 20px;
  padding: 10px;
  background: white;
  color: #2b3035;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 40px;
}

#homeButton:hover,
#clear:hover {
  background-color: #c8d9eb;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
